/node_modules
/node_modules_bak
/public/fonts
/public/css/app.css
/public/css/vendor.css
/public/js/app.js
/public/js/base.js
/public/*.json
/storage/*.key
/storage/app
/vendor
/.idea
/.vagrant
/.vs
/.vscode
Homestead.json
Homestead.yaml
npm-debug.log
.env
bootstrap/cache
.DS_Store
